@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */

.varela-round-regular {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

::selection {
  background-color: #4F7CAC;
  color:white;
}

/* End Global */

/* Earthpol */

@layer utilities {
  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }
}

.oswald-earth {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible fixed z-50;
}


/*End Earthpol */