@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */

.varela-round-regular {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

::selection {
  background-color: #4F7CAC;
  color:white;
}

/* End Global */

/* Earthpol */

@layer utilities {
  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }
}

.oswald-earth {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.tooltip {
  @apply invisible absolute;
  /* Position directly above the parent */
  bottom: calc(100% + 5px); /* 5px gap between tooltip and parent */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  @apply bg-charcoal text-white text-sm px-2 py-1 rounded;
  @apply opacity-0 transition-opacity duration-200;
}

.has-tooltip {
  @apply relative inline-block;
}

.has-tooltip:hover .tooltip {
  @apply visible opacity-100 z-50;
}

/* Add a small arrow pointing down */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1A1A1A transparent transparent transparent;
}


/*End Earthpol */